# Cache
__pycache__

# Virtual Environments
venv

# Local Archives
encryption.key
release.md

# Secret Files
secret.py
secret1.py

# IDEs
.vscode
.idea

# Tests Files
test.py

# Music Files
*.webm
*.m4a

# Database Files
*.sql

# System Files
*.DS_Store
